
@{
    ViewBag.Title = "ManageResume";
    dynamic message = ViewBag.message;
    
}

<h2>Manage Your Resume </h2>

<div class="form-horizontal">

    <hr />

    <div style="padding-left: 200px">

        @if (!message.Equals("Downloading"))
        {
            <label style="color: red">
                @message
            </label>
        }
        else
        {
            <label style="color: blue">
                @message
            </label>
        }

    </div>



    @*<div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Create Your Resume", "CreateResume", "Seeker")
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Create Your Resume", "CreateResume", "Seeker")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Upload Your Resume", "UploadResume", "Seeker")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Download Your Resume", "DownloadResume", "Seeker")
        </div>
    </div>
    
</div>